<main>
  <section>
    {{#each todosToDisplay}}
      <ul class="todos">
        <li class="description"><a href="/todos/{{id}}">{{description}}</a></li>
        <li class="created-date">Created: {{created}}</li>
        <li class="completed-status">Status: {{statusText}}</li>
      </ul>
    {{/each}}

    <div id="sort-filter-links" class="links-container">
      <a href="/sort/new">Sort by newest first</a>
      <a href="/">Sort by oldest first</a>
      <a href="/in-progress">Show in progress</a>
      <a href="/completed">Show completed</a>
    </div>

    <div class="form-container">
      <h3>Add a new to do here</h3>
      <form action="/" method="post">
        <label for="description-field">Description:</label>
        <input type="text" id="description-field" name="description" required />
        <input type="submit" id="add-button" value="Get it done!" />
      </form>
    </div>
  </section>
</main>