<main>
  <section>
    <div class="details">
      <p>{{description}}</p>
      <form action="/todos/{{id}}" id="status-form" method="post">
        <label for="select-field">Set status:</label>
        <select name="completed">
          <option value="false">In progress</option>
          <option value="true">Completed</option>
        </select>
        <input type="submit" value="Change status" />
      </form>
    </div>

    <div class="links-container">
      <a href="/todos/{{id}}/edit">Edit</a>
      <a href="/todos/{{id}}/delete">Delete</a>
    </div>
  </section>
</main>