<main>
  <section>
    <div class="current-details">
      <p>{{description}}</p>
      <form action="/todos/{{id}}" id="status-form" method="post">
        <label for="select-field">Status:</label>
        <select name="status" id="select-field">
          <option value="In progress">In progress</option>
          <option value="Completed">Completed</option>
        </select>
        <input type="submit" value="Change status" />
      </form>
    </div>
    <div id="link-container">
      <a href="/todos/{{id}}/edit">Edit</a>
      <a href="/todos/{{id}}/delete">Delete</a>
    </div>
  </section>
</main>