<main>
  <section>
    <p>Are you sure you want to delete this to do?</p>
    <form action="/todos/{{id}}/delete" method="post">
      <input type="submit" value="Confirm deletion" />
    </form>
  </section>
</main>