<main>
  <section>
    <div class="details">
      <p>{{description}}</p>
      <p>Status: {{statusText}}</p>
    </div>

    <div class="form-container">
      <form action="/todos/{{id}}/edit" id="edit-form" method="post">
        <div class="form-content-container">
          <label for="description-field">New description:</label>
          <input
            type="text"
            id="description-field"
            name="description"
            required
          />
        </div>
        <div>
          <div class="form-content-container">
            <label for="select-field">Status:</label>
            <select name="completed">
              <option value="false">In progress</option>
              <option value="true">Completed</option>
            </select>
          </div>
        </div>
        <input type="submit" value="Save" />
      </form>
    </div>
  </section>
</main>